{% extends "base.html" %}

{% block title %}Welcome{% endblock %}
{% block page_title %}Welcome to Maker Skillz{% endblock %}

{% block main_content %}
<div id="left_spacer" class="grid_3"><br /></div>
<div id="main_content" class="grid_6">
  <p>
  Maker Skillz is an application to help you find other makers with the
  skillz you need for your project and to advertise what you can help out
  with.
  </p>
  <p>
  If you are already part of a maker/hacker space, you can use Maker Skillz
  to keep track of your trainig, certifications and other achievements at the
  space in the form of Merit Badges.
  </p>
</div>
<div id="right_spacer" class="grid_3"><br /></div>
{% endblock %}
