{% extends "base.html" %}

{% block title %}Makers{% endblock %}
{% block page_title %}Makers{% endblock %}

{% block main_content %}
<div id="left_spacer" class="grid_3"><br /></div>
<div id="main_content" class="grid_6">
    <p>
      Makers
    </p>
    <p>
    <ul>
    {% for maker in makers %}
      <li> {{ maker.first_name }} {{ maker.last_name }}:
      {% for maker_tag in maker.tags %}
        <a href="/search?skill={{ maker_tag|urlencode }}">{{ maker_tag }}</a>
      {% endfor %}
      </li>
    {% endfor %}
    </ul>
    </p>
{% endblock %}
